@import "./general";

#info{
  padding-top:40px;
  background-color: $dblue;
  color: $white;  
  text-align: center;
  padding-bottom: 54px;
  

  @include SmallTab{
    padding-top:64px;

  }


  h2{
    padding-bottom:30px;
    font-size: 22px;
    
    @include SmallTab{
      font-size: 32px;
      padding-bottom: 35px;
    }

    @include MidTab{
      font-size: 36px;
      padding-bottom: 65px;

    }
  }

  .info-item{
    display: grid;
    grid-template-columns:auto;
    grid-gap:20px;
    justify-content: center;
    padding-bottom: 30px;

    @include SmallTab{
      grid-template-columns:144px 180px 144px;
      grid-gap:30px;
      padding-bottom: 83px;
    }

    p{
        font-size:18px;
      
      // &:nth-child(2){
      //   padding-left: 57px;
      //   padding-right: 30px;
      // }
    }
  }

  .info_container{
    background-color:$white;
    color:$Black;
    max-width: 900px;
    width: 100%;
    margin:0 auto;
    
    .container_inner{
      max-width: 868px;
      width: 100%;
      margin:0 auto;
      outline-offset: -10px;
      outline: 5px solid $dblue;
      
      @include SmallTab{
        outline-offset: -17px;
        outline: 7px solid $dblue;
        
      }
   
     

      h3{
        font-size: 22px;
        padding-bottom: 5px;
        line-height: 25px;
        padding-top:15px;
  
        & span{
          background:linear-gradient(transparent 60%, $Orange 60%);
        }
  
        @include SmallTab{
          font-size: 32px;
          line-height: 45px;
          padding-bottom: 10px;
          padding-top: 22px;
        }
  
        @include MidTab{
          font-size: 36px;
          line-height: 50px;
          padding-bottom: 18px;
          padding-top: 32px;
        }
      }
  
      p{
        font-size:12px;
        line-height: 20px;
        padding-bottom: 22px;
        
        @include SmallTab{
          padding-bottom: 36px;
          font-size:18px;
          line-height: 31px;
        }
      }

    }
  }
}